
#body {
  background-color: #97bba847;
}


.card {
  position: relative;
}
.card-image{
  height: 45vh;
}
.card-title {
  height: 10vh;

}
.card .h5, h5 {
  font-size: 1.1rem;
}
.card:hover {
  scale: 1.1;
  z-index: 1;
}
.card-footer {
  display: none;
}
.card-body {
  display: none;
}
.card:hover .card-footer{
  display: block;
  z-index: 1;
  position: absolute;

}
.card:hover .card-body  {
  display: block;
  z-index: 1;
  position: absolute;
  top: 320px;
  background-color: #c0e1cf;
  width: 100%;

}

#hero-cover {

  background-image: url("assets/cover.png");

  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.name {
  filter: drop-shadow(2px 4px 6px black);
  color: white;
}

.row-buttons .btn-info  {
  border-radius: 0;
}

.price {
  color: green;
}

#first-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#last-button {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.red {
  border: solid 3px rgb(6, 243, 17) !important;
}
#inputGroup-sizing-sm{
  height: 31px;
}
small .bi-check-lg {

  color: white;
}
small {
  background-color: blue;
}

@media only screen and (max-width: 600px) {
  .para {
    display: none
    
  }
  .name {
    font-size: 3.5em;
  }
}
